@import url("https://fonts.googleapis.com/css2?family=Festive&family=Inter&family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400&family=Supermercado+One&family=Syne+Tactile&display=swap");
:root {
  --main-red: #be3144;
  --main-white: #f0f0f0;
  --main-blue: #45567d;
  --maingray: #303841;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--main-white);
}

h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 2px;
}

/* navbar ============================================= */
#navbar {
  background: var(--main-red);
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  display: flex;
  justify-content: flex-end;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-list {
  display: flex;
}

.nav-list li a {
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.5rem;
}

.nav-list li a:hover {
  background-color: var(--main-blue);
}

/* home area (welcome) ================================ */
#welcome-section {
  align-items: center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
}

#welcome-section p {
  color: var(--main-red);
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 2rem;
}

/* projects area ===================================== */
#projects {
  background: var(--main-blue);
  overflow: hidden;
  padding: 7rem 2rem;
  text-align: center;
  width: 100%;
}

.project-section-header {
  border-bottom: 2px solid var(--main-white);
  font-size: 2.5rem;
  margin: 5px auto 65px auto;
  max-width: 650px;
}

.projects-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 45px;
}

.box {
  width: 350px;
  height: 400px;
  background: var(--maingray);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.project-title {
  font-size: 1.5rem;
  margin: 20px auto 20px auto;
}

.code {
  color: var(--maingray);
  transition: color 0.4s ease-out;
}

.box:hover .code {
  color: #ff7f50;
}

.btn-show-all {
  font-size: 1.5rem;
  background-color: var(--maingray);
  transition: background-color 0.3s ease-out;
}

.btn-show-all > span {
  font-size: 21px;
  margin-left: 4px;
  transition: transform 0.3s ease-out;
}

.btn-show-all:hover {
  background-color: var(--main-red);
}

.btn-show-all:hover span {
  transform: translateX(3px);
}

/* contact area ============================= */
#contact {
  background-color: var(--maingray);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-header {
  font-size: 4rem;
}

.contact-header + p {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 20px;
}

.contact-links {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.contact-details {
  text-shadow: 2px 2px 1px #1f1f1f;
  font-size: 1.5rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* footer area */
footer {
  align-items: center;
  background-color: var(--maingray);
  border-top: 4px solid var(--main-red);
  display: flex;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  justify-content: space-evenly;
  padding: 2rem;
  text-align: center;
}

/* responsive */
@media screen and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  /* navigation bar */
  #navbar {
    justify-content: center;
  }

  .nav-list li a {
    font-size: inherit;
    padding: 15px;
  }

  /* home area (welcome) */
  h1 {
    font-size: 3.2rem;
  }

  /* projects */
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* contact area */
  .contact-header {
    font-size: 2rem;
  }

  .contact-links {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* footer area */
  footer {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 550px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    width: 330px;
    height: 380px;
  }
}

@media screen and (max-width: 360px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    width: 300px;
    height: 340px;
  }

  .project-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    width: 215px;
    height: 240px;
  }

  .contact-header {
    font-size: 20px;
  }

  .contact-header + p {
    font-size: 12px;
  }

  .contact-links {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
